In [1]:
print("a")

a

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
%pwd

'e:\\MyProjects\\student_performance\\notebook'

In [5]:
df=pd.read_csv("E:\MyProjects\student_performance\student_data\stud.csv")
df

,id,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,1,female,group B,bachelor's degree,standard,none,72,72,74
1,2,female,group C,some college,standard,completed,69,90,88
2,3,female,group B,master's degree,standard,none,90,95,93
3,4,male,group A,associate's degree,free/reduced,none,47,57,44
4,5,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...,...
1995,1996,female,group E,master's degree,standard,completed,88,99,95
1996,1997,male,group C,high school,free/reduced,none,62,55,55
1997,1998,female,group C,high school,free/reduced,completed,59,71,65
1998,1999,female,group D,some college,standard,completed,68,78,77
1999,2000,female,group D,some college,free/reduced,none,77,86,86

In [6]:
df.columns

Index(['id', 'gender', 'race_ethnicity', 'parental_level_of_education',
       'lunch', 'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [8]:
for column in df.columns:
    print(type(column))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [9]:
df.dtypes

id                              int64
gender                         object
race_ethnicity                 object
parental_level_of_education    object
lunch                          object
test_preparation_course        object
math_score                      int64
reading_score                   int64
writing_score                   int64
dtype: object